.btn-wrapper {
  display: flex;
  gap: $space-8;
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }
}
